html, body {
    height: 100 vh;
    margin: 0;
    font-family: Verdana;
    background-color: blue;
    color: yellow;
}

* {
    box-sizing: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}