  .root{
    --body-color:rgba(237, 212, 86);
    --section-color: rgba(241, 52, 42);
    --main-color: rgba(34, 68, 151);
  }
  
  * {
    font-family: Arial;
    cursor: pointer;
  }

  body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2rem 2rem 3rem 4rem;
    background: linear-gradient(90deg, rgba(225,233,234,1) 0%, rgba(34,68,151,0.8337928921568627) 77%);
  }

  .header {
    align-items: center;
    text-align: center;
    display: grid;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(237, 212, 86);
    font-family: Arial;
    font-size: 6rem;
    height: 200px;
    width: 800px;
    font-weight: 600;
    line-height: 1.2;
    background-color:  rgba(34, 68, 141);;
    border: 20px outset rgba(241, 52, 42);
  }
.slogan {
  font-size: 2rem;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(237, 212, 86, .8);
    height: 12rem;
    width: 50rem;
    font-size: x-large;
    font-family: 'Gill Sans';
    border: 10px outset rgba(60, 50, 4, 0.8);
  }
  .play{
    font-size: large;
    height: 10rem;
    width: 70rem;
    text-align: center;
    font-family: 'Gill Sans';
    font-size: x-large;


  }
  
  .pairs{
    background-color: rgba(241, 52, 42);
    cursor: pointer; 
    width: 3rem;
    height: 2rem;
}
  .game-info {
    margin-left: auto;
    margin-right: auto;
    position: center;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
  }
  
  #reset {
    background-color: rgba(241, 52, 42);
    border: 10px outset rgb(116, 16, 10);
    font-size: x-large;
    width: 100px;
    padding: 0.5rem 1rem;
    margin-bottom: 5rem;
  }

  .matches-made {
    background-color: rgba(237, 212, 86);
    border: 10px outset rgba(237, 212, 86, .8);
    width: 10rem;
    height: 5rem;
    font-size: x-large;
  }

  #available-cards{
    
    
  }
 
  .card {
    /* do not change to absolute or all cards stack on top */
    margin-left: center; 
    margin-right: center;
    padding: 1rem 1rem 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(6, 10rem);
    grid-template-rows: repeat(4, 10rem);
    grid-gap: 1rem;
    }
  
  .card-front, .card-back {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-back {
    display: block;
  }
  
  .card-front {
    display: none; /*hide front image initaially*/
  }
  
  
  .card.flipped .card-front {
    display: block; /* Show the front image when flipped */
  }
  
  .card.flipped .card-back {
    display: none; /* Hide the back image when flipped */
  }  
  
  img {
    backface-visibility: hidden;
  }
  
  .card:hover {
    /* transform: rotateY(180deg); */
  }
  
  .hidden {
    display: none;
  }  
  